page-login {


	ion-input{
		background-color:green;
		color:grey;
	}
	

	#loginpage{
	
	 background-image:url('../img/img.jpg');
	
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;


	}
	
	#love{margin-top:55%;
	margin-left:25%;
	margin-right:10%;
	color:cyan;
	}
	#fb{width:100%;
	margin-top:10%;
	margin-bottom:45%;
	}

	#header{opacity:0;}


}

